.container {
    display: grid;
    grid-template-rows: [row1-start] 50px [row2-start] 150px [row3-start] 150px [row4-start] 150px [row5-start] 50px [row5-end];
    grid-template-columns: [main-start content-start] 300px [column-start] 300px [content-end sidebar-start] 300px [sidebar-end main-end];
}

.header {
    background-color: rgba(0, 0, 225, 0.3);
    grid-column: main-start / main-end;
    grid-row: row1-start / row2-start;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: rgba(255, 0, 0, 0.3);
    grid-column: content-start / content-end;
    grid-row: row2-start / row5-start;
}

.sidebar {
    background-color: rgba(251, 255, 0, 0.623);
    grid-column: sidebar-start / sidebar-end;
    grid-row: row2-start / row5-start;
}

.footer {
    background-color: rgba(0, 128, 0, 0.3);
    grid-column: main-start / main-end;
    grid-row: row5-start / row5-end;
}