.col {
    display: flex;
}

.rowHeader,
.rowFooter {
    background-color: rgb(30, 32, 36);
    color: rgb(252, 242, 235);
    height: 40px;
}

.nav-link {
    color: rgba(252, 242, 235, 0.8);
}

.nav-home {
    color: rgb(252, 242, 235)
}

.colMain {
    background-color: rgba(138, 138, 138, 0.349);
    margin: 10px;
    flex-direction: column;
}

h1 {
    font-weight: normal;
    margin: 50px 0px 0px 15px;
}

p {
    margin: 10px 0px 0px 15px;
}

.btn-primary {
    margin: 10px 0px 20px 15px;
}

.card {
    margin: 10px 5px 5px 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}